
body.admin {

  #header {
    border-bottom: 1px solid $accent-color;

    h1 {
      border: 0;
      font-size: 150%;
      float: right;
    }

    a.exit {
      font-size: 120%;
      font-weight: bold;
      display: inline-block;
      border: 1px solid $boxborder-color;
      padding: 0.4em;
      margin: 0.6em;
    }
    a.exit:hover {
      background: $boxbg-color;
    }
  }

  div.admin_menu {
    vertical-align: top;
    display: inline-block;
    width: 17%;
    margin-right: 2%;
    
    ul {
      @include sidebar-menu;
    
      li {
        border: none;
      }
    }
  }

  #admin_content {
    vertical-align: top;
    display: inline-block;
    width: 80%;

    hr {
      color: $accent-color;
    }
   
    a.new-item {
      font-weight: bold;
    }
  }

  table.crud-index {
    border-collapse: collapse;

    th {
      background: $boxbg-color;
      border-bottom: 1px solid $boxborder-color;
    }
    th, td {
      padding: 0.1em 1em;
      text-align: center;
    }
    th:first-child, td:first-child {
      text-align: left;
    }
    tr:nth-child(even) {
      background: $boxbg-color;
    }
    td.actions {
      a, form { 
        display: inline-block;
      }
      a, input {
        padding: 0.3em;
      }
    } 
  }
   

}
